[submodule "cookbooks/limits"]
	path = cookbooks/limits
	url = https://github.com/jrwesolo/limits
[submodule "cookbooks/influxdb"]
	path = cookbooks/influxdb
	url = https://github.com/zeroXten/influxdb-chef.git
[submodule "cookbooks/statsd"]
	path = cookbooks/statsd
	url = https://github.com/librato/statsd-cookbook.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/jssjr/git.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/redguide/nodejs.git
[submodule "cookbooks/collectd"]
	path = cookbooks/collectd
	url = https://github.com/hectcastro/chef-collectd.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/hw-cookbooks/runit.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/burtlo/ark.git
[submodule "cookbooks/consul"]
	path = cookbooks/consul
	url = https://github.com/johnbellone/consul-cookbook
[submodule "cookbooks/golang"]
	path = cookbooks/golang
	url = https://github.com/NOX73/chef-golang.git
[submodule "cookbooks/yum-repoforge"]
	path = cookbooks/yum-repoforge
	url = https://github.com/opscode-cookbooks/yum-repoforge.git
[submodule "cookbooks/grafana"]
	path = cookbooks/grafana
	url = https://github.com/JonathanTron/chef-grafana.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/miketheman/nginx.git
[submodule "cookbooks/bluepill"]
	path = cookbooks/bluepill
	url = https://github.com/opscode-cookbooks/bluepill.git
[submodule "cookbooks/rsyslog"]
	path = cookbooks/rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai.git
